<?xml version="1.0"?>
<launch>
  <!-- 空文件，里面什么也没有 -->
  <arg name="config_extras"
       default="$(eval optenv('GRIZZLY_CONFIG_EXTRAS', find('grizzly_control') + '/config/empty.yaml'))"/>

  <!-- Load controller configuration 加载控制配置文件 -->
  <rosparam command="load" file="$(find grizzly_control)/config/control.yaml" />

  <!-- Spawn controllers 控制器 -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="/car/grizzly_joint_publisher /car/grizzly_velocity_controller --shutdown-timeout 3"/>

  <!-- Start EKF for localization 定位反馈模块，返回odom -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find grizzly_control)/config/localization.yaml" />
  </node>

  <!-- 交互模块 marker -->
  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen">
    <param name="marker_size_scale" value="2.0" />
  </node>

  <!-- 机器人速度控制 设置了优先级和从哪个topic来，最后看起来是都到了统一的话题 -->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find grizzly_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="/car/grizzly_velocity_controller/cmd_vel"/>
  </node>

  <!-- Override the default control parameters, see config/empty.yaml for default. -->
  <rosparam command="load" file="$(arg config_extras)" />
</launch>
